@model Cart;

@{
    ViewData["Title"] = "Giỏ hàng";
}
<br/>
<h3>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> <strong>GIỎ HÀNG CỦA BẠN</strong>
</h3>
<br/>
@if (Model.CartItems.Count == 0)
{
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/assets/cart-icon.png" width="150" height="150" class="img-fluid"><br/><br/>
            <h3>
                <strong>Giỏ hàng của bạn đang trống</strong>
            </h3><br/>
            <h4>Hãy thêm những món đồ bạn yêu thích :)</h4> <br/>
            <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Tiếp tục mua sắm</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="align-middle" scope="col" style="text-align: center">Sản phẩm</th>
                    <th class="align-middle" scope="col" style="text-align: center">Số lượng</th>
                    <th class="align-middle" scope="col" style="text-align: center">Giá</th>
                    <th scope="col" style="text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td class="align-middle">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="@Url.Content(item.SKU.Product.Image)" class="img-fluid border"/>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-2 mt-3">
                                        <strong>@item.SKU.Product.Name.Trim().ToUpper()</strong><br/>
                                    </p>
                                    <p>
                                        Màu: @item.SKU.Color.Value<br/>
                                        Kích cỡ: @item.SKU.Size.Value<br/>
                                        Giá: @(string.Format("{0:#,#VND}", item.SKU.Product.Price))
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle" align="center">@item.Quantity</td>
                        <td class="align-middle" align="center">@(string.Format("{0:#,#VND;;0VND}", item.Quantity * item.SKU.Product.Price))</td>
                        <td class="align-middle" align="center">
                            <a class="btn btn-sm btn-secondary"
                               asp-controller="Product"
                               asp-action="RemoveFromCart"
                               asp-route-ItemId="@item.CartItemId"
                               data-toggle="tooltip" data-placement="bottom" title="Xóa">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="text-center">
                        <strong>ƯU ĐÃI</strong>
                    </h5>
                    <hr/>
                    <div class="form-group">
                        @if (Model.VoucherId != null)
                        {
                            <input class="form-control disabled" type="text" id="discount-code" name="discount-code"
                                   value="@Model.Voucher.Discount.Code" disabled/>
                        }
                        else
                        {
                            <input class="form-control" type="text" id="discount-code" name="discount-code"
                                   placeholder="Nhập mã ưu đãi"/>
                        }
                    </div>
                    <a id="voucher-list-btn"
                       class="btn btn-block btn-light text-left"
                       style="cursor: pointer">
                        Ví ưu đãi của bạn &#8250;
                    </a>
                </div>
            </div>
            <div id="voucher-list-modal"
                 class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="voucher-list-label"
                 aria-hidden="true"
                 data-url='@Url.Action("VoucherList", "Membership")'>
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="voucher-list-modal">Ví ưu đãi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="voucher-list-body" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.VoucherId != null)
            {
                <br/>
                <div class="card bg-light">
                    <div class="card-body">
                        <div>
                            <h6 class="d-inline">
                                <strong>@Model.Voucher.Discount.Name.ToUpper()</strong>
                            </h6>
                            <a class="close d-inline align-top"
                               aria-label="Close"
                               asp-controller="Membership"
                               asp-action="CancelApplyingVoucher">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <hr/>
                        <dl class="row">
                            <dt class="col-md-7">
                                @Html.DisplayNameFor(m => Model.Voucher.Discount.Code)
                            </dt>
                            <dd class="col-md-5">
                                @Html.DisplayFor(m => Model.Voucher.Discount.Code)
                            </dd>
                            <dt class="col-md-7">
                                @Html.DisplayNameFor(m => Model.Voucher.Discount.Percentage)
                            </dt>
                            <dd class="col-md-5">
                                @Html.DisplayFor(m => Model.Voucher.Discount.Percentage)
                            </dd>
                        </dl>
                    </div>
                </div>
            }
            <br/>
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="text-center">
                        <strong>ĐƠN HÀNG</strong>
                    </h5>
                    <hr/>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>
                            </td>
                            <td class="text-right">
                                @(string.Format("{0:#,#VND;;0VND}", Model.OriginalPrice))
                            </td>
                        </tr>
                        <tr class="text-danger">
                            <td>
                                -
                            </td>
                            <td class="text-right">
                                @(string.Format("{0:#,#VND;;0VND}", Model.Discount))
                            </td>
                        </tr>
                        <tr class="border-top">
                            <td>
                                <strong>Tổng</strong>
                            </td>
                            <td class="text-right">
                                @(string.Format("{0:#,#VND;;0VND}", Model.TotalPrice))
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <a class="btn btn-block btn-danger"
               asp-controller="Product"
               asp-action="CheckOut">
                Thanh toán
            </a>
            <a class="btn btn-block btn-outline-dark"
               asp-controller="Product"
               asp-action="Index">
                Tiếp tục mua sắm
            </a>
        </div>
    </div>
}

@section Scripts
{
    <script>
        // Voucher list modal
        $('#voucher-list-btn').click(function() {
            const url = $('#voucher-list-modal').data('url');

            console.log(url);

            $.get(url,
                function(data) {
                    $('#voucher-list-body').html(data);

                    $('#voucher-list-modal').modal('show');
                });
        });
    </script>
}