@model ClothingShop.Entity.Models.ProductDetailModel

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}

<h1>@Model.Name.ToUpper()</h1>
<h4>Chỉnh sửa sản phẩm</h4>
<hr/>
<br/>
<form asp-action="EditProduct" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <h5>
                <strong>THÔNG SỐ</strong>
            </h5>
            <hr/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-block btn-danger" asp-action="ProductList">Quay lại</a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-block">Chỉnh sửa</button>
                </div>
            </div>
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.LastModified)
            @Html.HiddenFor(m => m.Image)
        </div>
        <div class="col-md-6">
            <h5>
                <strong>DANH MỤC PHÂN LOẠI</strong>
            </h5>
            <hr/>
            <div class="row">
                @for (var i = 0; i < Model.Categories.Count; ++i)
                {
                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <input type="checkbox" asp-for="@Model.Categories[i].IsSelected" class="form-check-input">
                            <label class="form-check-label" asp-for="@Model.Categories[i].IsSelected">@Model.Categories[i].Name</label>
                            @Html.HiddenFor(m => Model.Categories[i].CategoryId)
                            @Html.HiddenFor(m => Model.Categories[i].Name)
                            @Html.HiddenFor(m => Model.Categories[i].Description)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}