@model ClothingShop.Entity.Models.DiscountModel

@{
    ViewData["Title"] = "Chỉnh sửa khuyến mãi";
    var VoucherNumber = 0;
    var SendVoucherUserName = "";
}

<h4>Chỉnh sửa khuyến mãi</h4>
<hr/>
<br/>
<form asp-action="EditDiscount" asp-controller="Admin" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <h5>
                <strong>THÔNG SỐ</strong>
            </h5>
            <hr/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percentage" class="control-label"></label>
                <input asp-for="Percentage" class="form-control"/>
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label asp-for="IsExpired">
                            <input asp-for="IsExpired" id="isExpired"/>
                            @Html.DisplayNameFor(m => m.IsExpired)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" value="@Model.StartTime.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group" id="endTime" style="display: none">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" value="@Model.EndTime.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            @Html.HiddenFor(m => m.DiscountId)
            @Html.HiddenFor(m => m.UnUsedVoucherNumber)
            @Html.HiddenFor(m => m.UsedVoucherNumber)

            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-block btn-danger" asp-action="DiscountList">Quay lại</a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-block">Chỉnh sửa</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h5>
                <strong>TẠO VOUCHER</strong>
            </h5>
            <hr/>
            <p class="mb-2">Tạo voucher</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="number" asp-for="@VoucherNumber" value="0"
                               placeholder="Số lượng thêm"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <a id="create-voucher-btn"
                       class="btn btn-block btn-outline-success"
                       asp-controller="Admin"
                       asp-action="CreateVoucher"
                       asp-route-VoucherNumber="0"
                       asp-route-DiscountId="@Model.DiscountId">
                        <i class="fa fa-plus" aria-hidden="true"></i> Tạo thêm Voucher
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-block btn-outline-danger"
                       asp-controller="Admin"
                       asp-action="DeleteAllVoucher"
                       asp-route-DiscountId="@Model.DiscountId">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Xoá toàn bộ Voucher
                    </a>
                </div>
            </div>
            <p class="mb-2">Gửi voucher</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" asp-for="@SendVoucherUserName" value=""
                               placeholder="Username"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <a id="send-voucher-btn"
                       class="btn btn-block btn-outline-primary"
                       asp-controller="Admin"
                       asp-action="SendVoucher"
                       asp-route-SendVoucherUserName="0"
                       asp-route-DiscountId="@Model.DiscountId">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Gửi cho Username
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-block btn-outline-warning"
                       asp-controller="Admin"
                       asp-action="SendVoucherToAllUser"
                       asp-route-DiscountId="@Model.DiscountId">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Gửi toàn bộ User
                    </a>
                </div>
            </div>
            <div>
                <p class="mb-2">Kho voucher</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="align-middle" style="text-align: center" rowspan="2">Đã sử dụng</th>
                        <th class="align-middle" style="text-align: center" colspan="3">Chưa sử dụng</th>
                        <th class="align-middle" style="text-align: center" rowspan="2">Đã phát hành</th>
                    </tr>
                    <tr>
                        <th class="align-middle" style="text-align: center">Đã sở hữu</th>
                        <th class="align-middle" style="text-align: center">Chưa sở hữu</th>
                        <th class="align-middle" style="text-align: center">Tổng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-middle" style="text-align: center">@Model.UsedVoucherNumber</td>
                        <td class="align-middle" style="text-align: center">@Model.OwnedVoucherNumber</td>
                        <td class="align-middle" style="text-align: center">@(Model.UnUsedVoucherNumber - Model.OwnedVoucherNumber)</td>
                        <td class="align-middle" style="text-align: center">@Model.UnUsedVoucherNumber</td>
                        <td class="align-middle" style="text-align: center">@(Model.UnUsedVoucherNumber + Model.UsedVoucherNumber)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function() {
                if ($('#isExpired').is(':checked')) {
                    $("#endTime").toggle();
                }

                $('#isExpired').click(function() {

                    $("#endTime").toggle(this.checked);

                    if (this.checked) {

                        $(this).attr('value', true);
                        $(this).attr('data-val', true);
                    } else {

                        $(this).attr('value', false);
                        $(this).attr('data-val', false);
                    }
                });

                $('#VoucherNumber').on('change',
                    function() {
                        const newValue = `VoucherNumber=${this.value}`;
                        $("#create-voucher-btn").attr("href", $("#create-voucher-btn").attr('href').replace(/VoucherNumber=\d+/, newValue));
                    });

                $('#SendVoucherUserName').on('change',
                    function() {
                        const newValue = `SendVoucherUserName=${this.value}&`;
                        $("#send-voucher-btn").attr("href", $("#send-voucher-btn").attr('href').replace(/SendVoucherUserName=[a-zA-Z0-9-._@("@")+ ]+&/, newValue));
                    });
            });
        </script>
    }
}