@model PaginationModel<ProductViewModel>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    var FirstID = Model.PageSize * (Model.PageNumber - 1) + 1;
    var FirstPage = 1;
    var CurrPage = Model.PageNumber;
    var LastPage = (int) Math.Ceiling((double) Model.Total / Model.PageSize);

    var Name = ViewBag.Name;
    var Sort = ViewBag.Sort;
    var Category = ViewBag.Category;
    var Categories = ViewBag.Categories;

    var SortType = new List<(string sort, string text)>
    {
        ("name", "Tên sản phẩm"),
        ("-name", "Tên sản phẩm"),
        ("price", "Giá sản phẩm"),
        ("-price", "Giá sản phẩm")
    };
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="search-icon" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </symbol>
    <symbol id="sort-icon" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </symbol>
    <symbol id="download-icon" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </symbol>
    <symbol id="plus-icon" viewBox="0 0 16 16">
        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
    </symbol>
    <symbol id="delete-icon" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </symbol>
    <symbol id="details-icon" viewBox="0 0 16 16">
        <path d="m10.277 5.433-4.031.505-.145.67.794.145c.516.123.619.309.505.824L6.101 13.68c-.34 1.578.186 2.32 1.423 2.32.959 0 2.072-.443 2.577-1.052l.155-.732c-.35.31-.866.434-1.206.434-.485 0-.66-.34-.536-.939l1.763-8.278zm.122-3.673a1.76 1.76 0 1 1-3.52 0 1.76 1.76 0 0 1 3.52 0z"/>
    </symbol>
    <symbol id="edit-icon" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </symbol>
</svg>

<h1>QUẢN LÝ SẢN PHẨM</h1>
<br/>
<form asp-controller="Admin" asp-action="ProductList" method="get">
    <div class="row">
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danh mục
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    @foreach (var item in Categories)
                    {
                        <button class="@("dropdown-item " + (item.CategoryId == Category ? "active" : ""))"
                                type="submit" name="category" value="@item.CategoryId">
                            @item.Name
                        </button>
                        <div class="dropdown-divider"></div>
                    }
                    <button class="dropdown-item text-center text-danger" type="submit" name="category" value="">Tất cả sản phẩm</button>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <input class="form-control input-sm w-100" type="text" name="name" placeholder="Tên sản phẩm" value="@Name"/>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary btn-block text-center" type="submit">
                <svg class="bi" width="16" height="16">
                    <use xlink:href="#search-icon"/>
                </svg>
            </button>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle btn-block" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#sort-icon"/>
                    </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    @foreach (var item in SortType)
                    {
                        <button class="@("dropdown-item " + (item.sort == Sort ? "active" : ""))"
                                type="submit" name="sort" value="@item.sort">
                            @item.text
                            <i class="@("fa fa-long-arrow-" + (item.sort[0] == '-' ? "down" : "up"))" aria-hidden="true"></i>
                        </button>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center text-success" asp-action="ProductList">Xóa bộ lọc</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-outline-danger btn-block w-100" asp-action="CreateProduct" data-toggle="tooltip" data-placement="bottom" title="Thêm sản phẩm">
                <svg class="bi" width="16" height="16">
                    <use xlink:href="#plus-icon"/>
                </svg>
            </a>
        </div>
    </div>
</form>

<br/>
@if (Model.ItemList.Count == 0)
{
    <hr/>
    <h5 class="text-center">Hiện tại không có sản phẩm nào phù hợp. <a asp-controller="Home" asp-action="Index">Quay lại trang chủ</a></h5>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" style="text-align: center">STT</th>
            <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.ItemList[0].ProductId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ItemList[0].Name)</th>
            <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.ItemList[0].Price)</th>
            <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.ItemList[0].Stock)</th>
            <th scope="col" style="text-align: center"></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.ItemList.Count; ++i)
        {
            <tr>
                <th scope="row" class="align-middle" style="text-align: center">@(i + FirstID)</th>
                <td class="align-middle" align="center">@Model.ItemList[i].ProductId</td>
                <td class="align-middle">@Model.ItemList[i].Name</td>
                <td class="align-middle" align="center">@Model.ItemList[i].Price</td>
                <td class="align-middle" align="center">@Model.ItemList[i].Stock</td>
                <td class="align-middle" align="center">
                    <a class="btn btn-sm btn-success" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@Model.ItemList[i].ProductId"
                       data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#edit-icon"/>
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="ProductDetails" asp-route-id="@Model.ItemList[i].ProductId"
                       data-toggle="tooltip" data-placement="bottom" title="Chi tiết">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#details-icon"/>
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-secondary" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@Model.ItemList[i].ProductId"
                       data-toggle="tooltip" data-placement="bottom" title="Xóa">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#delete-icon"/>
                        </svg>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <form asp-controller="Admin" asp-action="ProductList" method="get">
        <ul class="pagination justify-content-center">
            <li class="@(Model.PageNumber == FirstPage ? "page-item disabled" : "page-item")">
                <button class="page-link" type="submit" name="pageNumber" value="@FirstPage"
                        data-toggle="tooltip" data-placement="bottom" title="Trang đầu">
                    &laquo;
                </button>
            </li>
            <li class="@(Model.PageNumber == FirstPage ? "page-item disabled" : "page-item")">
                <button class="page-link" type="submit" name="pageNumber" value="@(Model.PageNumber - 1)"
                        data-toggle="tooltip" data-placement="bottom" title="Trang trước">
                    &#8249;
                </button>
            </li>

            @{
                var TotalShowPage = 10; //Change this value to adjust code below
                var StartShowPage = FirstPage > CurrPage - (int) Math.Ceiling((double) (TotalShowPage - 1) / 2) ?
                    FirstPage : CurrPage - (int) Math.Ceiling((double) (TotalShowPage - 1) / 2);
                var EndShowPage = LastPage < CurrPage + (int) Math.Floor((double) (TotalShowPage - 1) / 2) ?
                    LastPage : CurrPage + (int) Math.Floor((double) (TotalShowPage - 1) / 2);

                for (var i = StartShowPage; i <= EndShowPage; ++i)
                {
                    <li class="@(i == CurrPage ? "page-item disabled" : "page-item")">
                        <button class="page-link" type="submit" name="pageNumber" value="@i">
                            @i
                        </button>
                    </li>
                }
            }

            <li class="@(Model.PageNumber >= LastPage ? "page-item disabled" : "page-item")">
                <button class="page-link" type="submit" name="pageNumber" value="@(Model.PageNumber + 1)"
                        data-toggle="tooltip" data-placement="bottom" title="Trang sau">
                    &#8250;
                </button>
            </li>
            <li class="@(Model.PageNumber >= LastPage ? "page-item disabled" : "page-item")">
                <button class="page-link" type="submit" name="pageNumber" value="@LastPage"
                        data-toggle="tooltip" data-placement="bottom" title="Trang cuối">
                    &raquo;
                </button>
            </li>
        </ul>

        <input type="hidden" name="name" value="@Name">
        <input type="hidden" name="sort" value="@Sort">
        <input type="hidden" name="category" value="@Category">
    </form>
}