@model ProductDetailModel

@{
    ViewData["Title"] = "Chi tiết sản phẩm";

}

<h1>@Model.Name.ToUpper()</h1>
<h4>Chi tiết sản phẩm</h4>
<hr/>
<br/>
<div class="row">
    <div class="col-md-3 justify-content-center">
        <img src="@Url.Content(Model.Image)" class="img-fluid border"/>
        <hr/>
    </div>
    <div class="col-md-5">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Categories)
            </dt>
            <dd class="col-sm-8">
                @string.Join(" , ", Model.Categories.Where(c => c.IsSelected).Select(c => c.Name).ToList())
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8 text-justify">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreateTime)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastModified)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <table class=" table table-hover">
            <thead>
            <tr>
                <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.Items[0].ColorValue)</th>
                <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.Items[0].SizeValue)</th>
                <th scope="col" style="text-align: center">@Html.DisplayNameFor(model => model.Items[0].Quantity)</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="align-middle" align="center">@item.ColorValue</td>
                    <td class="align-middle" align="center">@item.SizeValue</td>
                    <td class="align-middle" align="center">@item.Quantity</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<hr/>
<div class="row justify-content-center">
    <div class="col-sm-2">
        <a class="btn btn-danger btn-block" asp-action="ProductList">Quay lại</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-success btn-block" asp-action="EditProduct" asp-route-id="@Model.ProductId">
            Chỉnh sửa
        </a>
    </div>
</div>